<?xml version="1.0" encoding="utf-8"?>
<!--
  ~
  ~   ~ Copyright (c) 2017. ThanksMister LLC
  ~   ~
  ~   ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~   ~ you may not use this file except in compliance with the License. 
  ~   ~ You may obtain a copy of the License at
  ~   ~
  ~   ~ http://www.apache.org/licenses/LICENSE-2.0
  ~   ~
  ~   ~ Unless required by applicable law or agreed to in writing, software distributed 
  ~   ~ under the License is distributed on an "AS IS" BASIS, 
  ~   ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
  ~   ~ See the License for the specific language governing permissions and 
  ~   ~ limitations under the License.
  ~   
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thanksmister.iot.mqtt.alarmpanel">

    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
            android:name=".BaseApplication"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme"
            android:allowBackup="true"
            android:fullBackupContent="true">
        
        <activity
                android:name=".ui.activities.MainActivity">

            <!-- Launch activity as default from Android Studio -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".ui.activities.LogActivity"/>

        <!-- Preference Provider -->
        <provider
                android:name="dpreference.PreferenceProvider"
                android:authorities="com.thanksmister.iot.mqtt.alarmpanel.dpreference.PreferenceProvider"
                android:enabled="true"
                android:exported="false"/>
        
        <!-- MQTT Services -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        
        <!-- Your Crashlytics key here, you also need the secret in a fabric.properties -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6aa105ab19b074264f7333064640f494720b90f1"/>
        
    </application>

</manifest>